.box1 {
    position: absolute;
    margin-top: 50px;
    
    width: 18em;
    left: 24em;
    top: 4em;
     
 }
 
 .box1 p {
    margin: -2px;
    background-color: black;
    color: white;
    margin-top: -33px;
}

.box2 {
    display: flex;
    width: 600px;
    justify-content: center;
    text-align: center;
    margin: -10px auto;
    background-color: #b5c0af;
    
}